/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
/* reset end */
:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal-overlay: #2e2f42;
  --color-hero-background: #2e2f42;
  --color-white-background: #ffffff;
  --color-modal-background: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--color-white-background);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  background-color: --color-white-background;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.logo-text {
  color: var(--color-dark);
}
.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-right: auto;
}
.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

/* .list {
  list-style: none;
} */
.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-dark);
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-pressed-state);
}
.address {
  font-style: normal;
  letter-spacing: 0.02em;
}
.site-address {
  display: flex;
}
.address .item + .item {
  margin-left: 40px;
}
.address-link,
.address-link {
  color: var(--color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.address-link:hover,
.address-link:focus {
  color: var(--color-pressed-state);
}
.hero-section {
  background-color: var(--color-hero-background);
}
.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white-background);
  text-align: center;
}
.title-btn {
  color: var(--color-white-background);
  background-color: var(--color-primary-brand);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.title-btn:hover,
.title-btn:focus {
  background-color: var(--color-pressed-state);
}
.features {
  padding: 0px;
}
/* .feature-content {
} */
.feature-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
/* .products-section {
} */
.products-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
  line-height: 1.11;
  text-align: center;
}

/* .product-img {
} */
.team-cards {
  background-color: var(--color-light);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
  text-align: center;
}
/* .cards {
} */
.card {
  background-color: var(--color-white-background);
}
/* .card-img {
} */
.card-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.footer {
  background-color: var(--color-dark);
}
.logo-footer {
  color: var(--color-light);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
}
.portfolio-btn {
  background-color: var(--color-light);
  color: var(--color-primary-brand);
  border: 1px solid var(--color-accent);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--color-pressed-state);
  color: var(--color-white-background);
}
.link-card {
  background-color: var(--color-white-background);
}
.card-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  font-style: normal;
}
.link-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
